#container {
    width: 610px;
    height: 100%;
  }

  #logo {
    position:relative;
    float:left;
    left:auto;

  }
  #filters {
    position: relative;
    width: 220px;
    height: 100px;
    top: 0;
    float:right;
    right:0;
    margin-bottom:50px;

  }
  #content {
    height: 100%;
    margin: 40px 0px 0px 0px;
    float: left;
  }