﻿html {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #f3f2f2;
}

img {
  display: block;
  width: 100%;
  height: auto !important;
  margin: 0px;
  padding: 0px
}

a {
  display: block;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#filters a:hover {
  opacity: 0.9;
}

#container {
  width: 1130px;
  height: 100%;
  margin: 40px auto;
}

#logo {
  left:20px;
  position:fixed;
}

#logo img{
  width:150px;
  height:150px;
}

#filters {
  width: 220px;
  height: 100px;
  right:20px;
  position:fixed;
}
#filters a {
  background:white;
}
#filters a.disabled {
  background: #f3f3f3;
  border: 1px solid #ddd;
}
#filters a.disabled .website {
  line-height: 24px;
}
#content {
  width: 610px;
  height: 100%;
  margin: 0px auto;
}

.post {
  width: 100%;
  background-color: #fff;
  margin: 0px 0px 40px 0px;
  border-bottom: 2px solid #e3e3e3;
}
#navigation a {
  display: inline;
}
#nav_prev, #nav_next {
  width: 48%;
  background-color: #fff;
  margin: 0px 0px 40px 0px;
  border-bottom: 2px solid #e3e3e3;
  display:inline-block;
  text-align: center;
  padding:10px 0;
}
#nav_next {
  float:right;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #101010;
  line-height: 26px;
  padding: 20px 20px 5px 20px;
  margin: 0px;
}

h2 {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
  color: #acacac;
  line-height: 20px;
  padding: 0px 20px 20px 20px;
  margin: 0px;
}

.website {
  width: 200px;
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
  color: #acacac;
  line-height: 26px;
  margin: 0px 0px 3px 0px;
  padding: 0px 0px 0px 20px;
}

#note {
  width: 100%;
  margin: 20px 0px 0px 0px;
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
  color: #acacac;
  line-height: 20px;
}

@media screen and (max-width: 1130px) and (min-width: 920px) {

  #container {
    width: 870px;
    height: 100%;
  }


  #logo {
    position:fixed;
    float:right;
    left:auto;
    right:20px;
  }
  #filters {
    position: fixed;
    width: 220px;
    top: 200px;
  }


  #content {
    height: 100%;
    margin: 0px 0px 0px 40px;
    float: left;
  }


}

@media screen and (max-width: 920px), only screen and (-webkit-min-device-pixel-ratio: 2) {

  #container {
    width: 95%;
    height: 100%;
  }

  #logo {
    position:relative;
    float:left;
    left:auto;

  }
  #filters {
    position: relative;
    width: 220px;
    top: 0;
    float:right;
    right:0;
    margin-bottom:50px;

  }
  #note {
    display:none;
  }
  #content {
    height: 100%;
    margin: 40px 0px 0px 0px;
    float: left;
    width:100%;
  }

}
